/* Attribution */

.attribution {
  font-family: "Outfit";
  left: 0;
  right: 0;
  font-size: 0.6875rem;
  text-align: center;
  position: absolute;
  bottom: 0.5rem;
}
.attribution a {
  color: var(--blue);
}
